body{
  background-color: #FFFBF7;
}

@font-face {
	font-family: "Maax Rounded";
	src: url('assets/Maax Rounded.otf');
}

@font-face {
	font-family: "Maax Rounded";
	font-style: italic;
  src: url('assets/Maax Rounded Italic.otf');
}

@font-face {
	font-family: "Maax Rounded";
	font-weight: bold;
  src: url('assets/Maax Rounded Bold.otf');
}

.logo img{
  width: 18%;
  margin-left: 24em;
  margin-top: 16em;
}

h1{
  margin-top: 3em;
  margin-left: 3em;
  color: #5A4543;
  font-size: 4em;
  font-style: bold;
  font-family: "Maax Rounded";
  font-weight: bold;
}

p{
  font-family: "Maax Rounded";
  line-height: 1.9em;
  margin-left: 0em;
  text-align: center;
  color: #5A4543;
  font-size: 1.8em;
  margin-top: -0.4em;
}

p strong{
  font-family: "Maax Rounded";
	font-weight: bold;
  src: url('assets/Maax Rounded.otf');
}

.column .consent-button, .geolocalisation-logo, .next-button{
  display: flex;
  flex-direction: column;
}

.consent-button{
margin-left: 23em;
margin-top: 7em;
width: 25%;

}

.geolocalisation-logo{
margin-left: 21em;
margin-top: 11em;
width: 35%;
}

.next-button{
  margin-left: 23em;
  margin-top: 7em;
  width: 25%;
}
