body{
  background-color: #FFFBF7;
}

@font-face {
	font-family: "Maax Rounded";
	src: url('assets/Maax Rounded.otf');
}

@font-face {
	font-family: "Maax Rounded";
	font-style: italic;
  src: url('assets/Maax Rounded.otf');
}

@font-face {
	font-family: "Maax Rounded";
	font-weight: bold;
  src: url('assets/Maax Rounded.otf');
}

.logo img{
  width: 13%;
  margin-left: 23em;
  margin-top: 7em;
}

h1{
  font-weight: 800;
  margin-top: 5em;
  margin-left: 5.5em;
  color: #5A4543;
  font-size: xxx-large;
  font-style: bold;
  font-family: "Maax Rounded";
  font-weight: bold;
  src: url('assets/Maax Rounded.otf');
}

p{
  font-family: "Maax Rounded";
  line-height: 2.5em;
  margin-left: -4em;
  text-align: center;
  color: #5A4543;
}

p strong{
  font-family: "Maax Rounded";
	font-weight: bold;
  src: url('assets/Maax Rounded.otf');
}

.column .consent-button, .geolocalisation-logo, .next-button{
  display: flex;
  flex-direction: column;
}

.consent-button{
margin-left: 22em;
margin-top: 5em;
width: 20%;

}

.geolocalisation-logo{
margin-left: 21em;
margin-top: 11em;
width: 25%;
}

.next-button{
  margin-left: 43em;
  margin-top: 7em;
  width: 22%;
}
