*, *::before, *::after {
  box-sizing: border-box;
}
body{
  background-color: #FFFBF7;
  font-family: "Maax Rounded";

}

@font-face {
	font-family: "Maax Rounded";
	src: url('assets/Maax Rounded.otf');
}

@font-face {
	font-family: "Maax Rounded";
	font-style: italic;
  src: url('assets/Maax Rounded Italic.otf');
}

@font-face {
	font-family: "Maax Rounded";
	font-weight: bold;
  src: url('assets/Maax Rounded Bold.otf');
}

.logo-rouge img{
  width: 10%;
  margin-left: 26em;
  margin-top: 7em;
}

.moment h1{
  letter-spacing: 1px;
  margin-top: 1em;
  margin-left: 6em;
  color: #5A4543;
  font-size: 4em;
  font-style: bold;
  font-family: "Maax Rounded";
  font-weight: bold;
  src: url('assets/Maax Rounded.otf');
}

.moment-p p{
  font-family: "Maax Rounded";
  font-size: 1.8em;
  line-height: 2.5em;
  margin-left: 1.6em;
  text-align: center;
  margin-bottom: 4em;
  color: #5A4543;
  margin-top: -1em;
}
/* ---------------partie checkbox----------------------*/

.moment-container {
    display: inline-grid;
    margin-left: 11em;
    margin-top: -3em;

}

input {
  position: absolute;
  left: -9999px;
}

header label{
   margin: 14px;
   padding: 11px 22px 11px 21px;
}

.moment label {
  font-family: "Maax Rounded";
  font-style: bold;
  font-size: 2.4em;
  text-align: center;
  display: inline-block;
  position: relative;
  margin: 25px;
  padding: 20px 159px 30px 164px;
  border-radius: 30px;
  color: #fff;
  background-color: #F84339;
  white-space: nowrap;
  cursor: pointer;
  user-select: none;
  transition: background-color .2s, box-shadow .2s;
}

header label::before {
    content: '';
    display: block;
    position: absolute;
    top: 21px;
    bottom: 23px;
    left: 15px;
    width: 3px;
    border-radius: 100px;
    transition: background-color .2s;
}

.moment-container label{
  padding: 40px 292px 52px 301px;
  border-radius: 59px;
  margin-left: -2em;
}

.moment-container label::before {
  content: '';
  display: block;
  position: absolute;
  top: 21px;
  bottom: 23px;
  left: 13px;
  width: 0px;
  border-radius: 100px;
  transition: background-color .2s;
}


label:hover, input:focus + label {
  box-shadow: 0 0 20px rgba(0, 0, 0, .6);
}

input:checked + label {
  background-color: #F5F0EA;
  color: #5A4543;
}

input:checked + label::before {
  background-color: #fff;
}


.moment-next-button{
  margin-left: 37em;
  margin-top: 46em;
  width: 24%;
}

.next-button{   /* au cas ou jai cassé quelque chose pcq jai mis au moment*/
  margin-left: 37em;
  margin-top: 46em;
  width: 24%;
}
/*-------------------spécialité-----------------------*/

.specialites-titre h1{
  margin-left: 5em;
  letter-spacing: 1px;
  margin-bottom: 0.2em;
  font-size: 4em;
  margin-top: 1em;
  color: #5A4543;
}

.specialites-p{
  margin-left: 10em;
  margin-top: -0.9em;
  font-size: 1.8em;
  color: #5A4543;

}

.specialites-container{
  display: inline-grid;
  margin-left: 13em;
  margin-top: 2em;
}
.specialites-container label{
  padding: 38px 313px 49px 290px;
  border-radius: 130px;
  margin-left: -1em;
}
.specialites label {
  font-family: "Maax Rounded";
  font-style: bold;
  font-size: 2.4em;
  text-align: center;
  display: inline-block;
  position: relative;
  margin: 35px;
  padding: 20px 159px 30px 164px;
  border-radius: 30px;
  color: #fff;
  background-color: #F84339;
  white-space: nowrap;
  cursor: pointer;
  user-select: none;
  transition: background-color .2s, box-shadow .2s;
}

.specialites-container label{
  padding: 40px 292px 52px 301px;
  border-radius: 59px;
  margin-left: -2em;
}

.specialites-container label::before {
  content: '';
  display: block;
  position: absolute;
  top: 21px;
  bottom: 23px;
  left: 13px;
  width: 0px;
  border-radius: 100px;
  transition: background-color .2s;
}

.button-back, .next-button-specialites{
  margin-left: 13em;
  margin-top: 24em;
  width: 20%;
}

.next-button-specialites{
  margin-left: 11em;
  width:25%;
}
.inline .button-back, .next-button-specialites{
display: inline-block;
}

/*---------------------prix ----------------------*/
.prix-titre h1{
  margin-left: 8.5em;
  margin-bottom: 0.2em;
}

.prix-p{
  margin-left: 23em;
}

.prix-container{
  display: inline-grid;
  margin-left: 12em;
}

.prix-container label{
  padding: 23px 221px 30px 218px;
  border-radius: 47px;
}

.specialites-button-back {
  margin-left: 11em;
  width:25%;
}

.button-back {
  margin-left: 13em;
}
/*---------------------resultats ----------------------*/
.logo-rouge-resultats img{
  width: 8%;
  margin-left: 18em;
  margin-top: 7em;
}
.logo-rouge-resultats .button-back{
  margin-left: 4em;
}

.resultats-titre{
  line-height: 3em;
  font-size: 3em;
  letter-spacing: 3px;
}

.resultats-titre h1{
  font-size: 1em;
  margin-left: 7.5em;
}

.resultats-p {
  margin-left: 16em;
  font-size: 1.4em;
  margin-top: -2.7em;
  margin-bottom: 4em;
}

/* jusqu'a MAINTENANT */

/* le haut de boite grise*/

.inline-resulats{
  margin-left: 4em;
}

.inline-resulats .bonhomme, .rouge, .lieu {
  display: inline-block;
  margin-bottom: -0.5em;
}

.bonhomme{
  width: 2%;
  margin-right: 0.4em;}
.rouge{
  color: #F84339;
}

.rouge p{
  font-size: 1em;
}

.lieu{
  margin-left: 21em;
  color: #5A4543;
  font-size: 1em;
  margin-bottom: -1em;
}

strong{
  margin: 0em 1em;
}


/*la boite grise */

.carre-gris{
  background-color:#F5F0EA ;
  padding: 2em 0em;
  border: inherit;
  width: 90%;
  margin-left: 3em;
  border-radius: 3%;
}
.inline-premier-resultats{
  color: #5A4543;
}

.column-premier-resultats h2, h3{
  flex-direction: column;
}

h2{
  font-size: 3em;
}

h3{
  font-size: 2em;
}

.inline-premier-resultats .column-premier-resultats, .fruits{
  display: inline-block;
}

.column-premier-resultats{
  margin-left: 5em;
  line-height: 2.5em;


}

.fruits{
  margin-left: 13em;
}

.fruits img{
  width: 210%;
}


.infos{
  margin-left: 5em;
  color: #5A4543;
  line-height: 2em;
  letter-spacing: 2px;
}
.underline{
  text-decoration: underline;
  margin-bottom: -1em;
}





/*sous la boite grise*/


.inline-bottom-gris .telephone, .siteweb, .location{
  display: inline-block;
  font-size: 1.5em;
}

.inline-bottom-gris{
  margin-top: 1em;
}

a{
  text-decoration: none;
  color:#5A4543;    /*a retenir cette technique pour enlever la couleur bleu et le surlignement des liens et changer leur couleur */
}


.telephone {
  font-family: "Maax Rounded";
	font-weight: bold;
  margin-left: 2em;
  background-color: #F5F0EA;
  padding: 0.5em 1em;
  border-radius: 30px;
}


.siteweb {
  font-family: "Maax Rounded";
	font-weight: bold;
  margin-left: 3em;
  background-color: #F5F0EA;
  padding: 0.8em 2em;
  border-radius: 30px;
}

.location{
  font-family: "Maax Rounded";
	font-weight: bold;
  margin-left: 2em;
  background-color: #5A4543;
  color: #FFFFFF;
  padding: 0.4em 1em;
  border-radius: 30px;
  line-height: 1.6em;
}

.location a{
  color: #FFFFFF;
  margin-right: 0.5em;

}

.inline-bottom-gris .telephone a{
  display: inline-block;
  width:110%;
}

.inline-bottom-gris .siteweb a{
  display: inline-block;
  width:114%;
  padding: 1px 1px;
}

.inline-bottom-gris .location a{
  display: inline-block;
  width:106%;
}

.telephone img a, .siteweb img a, .location img a{
  display:inline-block;
  width: 15%;
}

.telephone img, a{
  padding-right: 0.5em;
}
.telephone img{
 width: 21%;
 margin-right: 0.5em;
}

.siteweb img, a{
  padding-right: 0.3em;
}

.siteweb img{
  width:19%;
  margin-right: 0.3em;
}

.location img, a{
  padding-right: 0.5em;
}

.location img{
  width: 20%;
}






.inline .logorouge, .button-back-resultats {
  display: inline-block;
}

.button-back-resultats{
  margin-left: -5em;
}
