@font-face {
	font-family: "Maax Rounded";
	src: url('assets/Maax Rounded.otf');
}
@font-face {
	font-family: "Maax Rounded";
	font-style: italic;
  src: url('assets/Maax Rounded.otf');
}
@font-face {
	font-family: "Maax Rounded";
	font-weight: bold;
  src: url('assets/Maax Rounded.otf');
}

body{
  background-color: #F84339;
}

.logo{
  position: absolute;
  width: 128px;
  height: 62px;
  left: 143px;
  top: 417px;
}
